<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>banner</title>
</head>
<body>
    <div class="page">
        <% include components/top.inc.ejs %>
        <div class="content-wrap">
            <div>
                <form action="?" method="post">
                    标题：<input type="text" name="title" /><br>
                    描述：<textarea name="description"></textarea><br>
                    链接：<input type="text" name="href" /><br>
                    <input type="submit" value="添加">
                </form>
            </div>

            <table border="1" width="100%">
                <thead>
                    <tr>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</body>
</html>