<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>管理员登陆</title>
</head>
<body>
    <div class="page">
        <div class="left-wrap">
            <a href="/admin/bannners">bannner settings</a>
            <a href="/admin/blog">blog settings</a>
            <a href="/admin/contact">contact</a>
            <a href="/admin/custom">user comments</a>
            <a href="/admin/intro">product intro</a>
            <a href="/admin/msg">message manage</a>
            <a href="/admin/news">news manage</a>
        </div>
        <div class="left-wrap">
        </div>
    </div>
</body>
</html>