
<div class="top-wrap">
    <a href="/admin">home</a>
    <a href="/admin/bannners">bannner settings</a>
    <a href="/admin/blog">blog settings</a>
    <a href="/admin/contact">contact</a>
    <a href="/admin/custom">user comments</a>
    <a href="/admin/intro">product intro</a>
    <a href="/admin/msg">message manage</a>
    <a href="/admin/news">news manage</a>
</div>